nav {
  background-color:rgb(255,255,255);
	overflow: hidden;
	padding: 0;
  background: transparent;
}

h1 {
  font-size: 200px;
  align-content: center;
  margin: 0;
}

.webHeader {
  display: flex;
  height: 300px;
}

.bigTitle {
  font-family: 'Times New Roman';
  width: 100%;  /* Or whatever */
  height: 800px; /* Or whatever */
  margin: auto;
  margin-top: 0;
  margin-left: 25px;
}

.subTitle {
  width: 100%;
  height: 100px; /* Or whatever */
  margin: auto;
  margin-top: 0;
  margin-left: 25px;
}

.navWide {
  margin: 0 auto;
}

.leftbutton {
  margin: 5px;
  float: left;
}

.rightbutton {
  float: right;
  margin: 5px;
}

.homebutton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border-color: black;
  border-radius: 10px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-family: "Futura";
  font-size: 26px;
}

.signinbutton {

}
