nav {
  background-color:rgb(255,255,255);
	overflow: hidden;
	padding: 0;
  background: #000;
}

h1 {
  font-size: 16vw; /*200px;*/
  line-height: .7;
  align-content: center;
  margin: 0;
}

p {
  font-family: 'Futura';
  font-size: 24px;
  background-color: FFFFFF#;
  margin-left: 80px;
}

span {
  background-color: #A5B452;
  height: 60px;
  color: #FFF;
  opacity: .5;
}

.webHeader {
  display: flex;
  height: 50%;
}

.bigTitle {
  font-family: 'Times New Roman';
  width: 100% auto;
  height: 50%;
  margin: auto;
  margin-top: 30px;
  margin-left: 25px;
}

.subTitle {
  width: 100% auto;
  height: auto; /* Or whatever */
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 25px;
}

.navWide {
  margin: 0 auto;
}

.leftbutton {
  float: left;
  margin: 5px;
}

.rightbutton {
  float: right;
  margin: 5px;
}

.centerButton {
  justify-content: center;
  text-align: center;

  background-color: #000;
  color: #FFF;
  background-repeat:no-repeat;
  border: none;
  border-radius: 20px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-family: "Futura";
  font-size: 30px;
  width: 250px;
  margin: auto;
}

.homebutton {
  background-color: #000;
  color: #FFF;
  background-repeat:no-repeat;
  border: none;
  border-radius: 20px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-family: "Futura";
  font-size: 20px;
}

.homebutton:hover, .centerButton:hover{
  color: #A5B452;
}

.discreteButton {
  background: none;
  color: #A5B452;
  background-repeat:no-repeat;
  border: none;
  border-radius: 20px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-family: "Futura";
  font-size: 25px;
  width: 150px;
  margin: auto;
  text-align: center;
  margin-top: 9vh;
  justify-content: center;
}

.signinbutton {

}
